.done {
    background-color: green;
}
.pending {
    background-color: red;
}

.finished {
    background-color: green;
}
.unfinished {
    background-color: red;
}


.ng-valid {
    background-color: green;
}
.ng-dirty.ng-invalid-required {
    background-color: red;
}
.ng-dirty.ng-invalid-minlength {
    background-color: lightpink;
}